/* =============== Globals =============== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --bg-clr: #323639;
  --accent-clr: #b1a569;
  --accent-alt: #f2d8b8;
  --text-clr: #f6f7fb;
  --icon-clr: #79838b;

  --fs-sm: 0.875rem;
  --fs-md: 1rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.5rem;
  --fs-xxl: 2.25rem;

  --icon-size: 125px;
}

body {
  color: var(--text-clr);
  background-color: var(--bg-clr);
  font-family: 'Montserrat Alternates', sans-serif;
  letter-spacing: 0.75px;
  padding: 1rem;
  overflow: hidden;
}

/* =============== Typography =============== */
svg {
  color: var(--icon-clr); 
  vertical-align: middle;
}

p,
a {
  display: inline-block;
  font-size: var(--fs-lg);
}

/* =============== Utility Classes =============== */
.container {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  margin: 0 auto;
  min-height: 100vh;
}

/* =============== Header =============== */
.scores-header {
  min-height: 100px;
}

.scores-title {
  font-weight: 600;
  text-align: center;
  font-size: var(--fs-xxl);
  margin-bottom: 0.75rem;
}

.score-table {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  margin-right: 0.65rem;
}

.score-table > * {
  gap: 0.225rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: var(--fs-xl);
  font-weight: 400;
}

/* =============== Play-area =============== */
.play-area {
  gap: 1rem;
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.play-box {
  flex: auto;
  gap: 2rem;
  display: flex;
  align-items: center;
}

.play-box .card {
  cursor: auto;
  width: var(--icon-size);
  height: var(--icon-size);
  transition: none;
  animation: slide-up 750ms ease;
}

/* Following class will be applied through JavaScript */
.match-result {
  transform: translateY(-250%);
  font-size: var(--fs-xxl);
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.vs {
  font-weight: 600;
}

/* =============== Footer =============== */
.rps {
  gap: 2rem;
  flex: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  padding: 1rem;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 250ms ease-in-out;
  box-shadow: 0 0 10px rgba(19, 21, 23, 0.5);
}

.rps .card:hover {
  transform: translateY(-10px);
}

.rps .card:hover svg {
  color: var(--accent-clr);
}

.rock,
.paper,
.scissors {
  width: var(--icon-size);
  height: var(--icon-size);
  transition: color 250ms ease-in-out;
  /* Fixes svgs from getting targeted on click */
  pointer-events: none; 
}

/* =============== Creator =============== */
.creator {
  position: absolute;
  top: 95%; left: 50%;
  transform: translateX(-50%);
}

.creator > a {
  color: var(--accent-alt);
  opacity: 0.5;
  transition: opacity 200ms ease-in;
}

.creator > a:hover {
  opacity: 1;
}