/* ================ Globals ================ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-clr: #1e273e;
  --fg-clr: #151a27;
  --acc-clr: #5ebddb;
  --txt-clr: #f0efee;
  --bg-clr-alt: #39353A;

  --ff-head: 'Montserrat Alternates', 'sans-serif';
  --ff-text: 'Prompt', 'Montserrat Alternates', 'sans-serif';

  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-md: 1rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.75rem;

  --fw-100: 100;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;

  --gutter: 1rem;
  --btn-radius: 6px;

  --knob-size: 14px;
  --bar-size: 32px;

  --transition: 250ms ease;
}

body {
  line-height: 1.5;
  font-size: var(--fs-md);
  font-family: var(--ff-text);
  color: var(--txt-clr);
  background-color: var(--bg-clr);
  min-height: 100vh;
  letter-spacing: 0.5px;
  display: flex;
  flex-direction: column;
}

/* ================ Typography ================ */
h1,
h2,
h3,
h4 {
  line-height: 1.25;
  font-weight: var(--fw-600);
  font-family: var(--ff-head);
}

p,
a,
span,
input {
  display: inline-block;
}

/* ================ Utility Classes ================ */
button {
  border: none;
  appearance: none;
  padding: 0.5em 1em;
  font-size: var(--fs-md);
  font-family: var(--ff-text);
  border-radius: var(--btn-radius);
  background-color: var(--acc-clr);
  cursor: pointer;
  transition: transform var(--transition);
}

button:active {
  transform: scale(0.9);
}

/* ================ Header ================ */
.main-header {
  padding: 1.25rem;
  background-color: var(--fg-clr);
}

.logo {
  margin-left: 8rem;
}

/* ================ Main ================ */
.main-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
  flex-grow: 1;
}

.shelf-header {
  gap: var(--gutter);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ================ Toggler ================ */
#toggle {
  display: none;
}

.read-status {
  gap: calc(var(--gutter) / 2);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.knob {
  width: var(--knob-size);
  height: var(--knob-size);
  border-radius: 50%;
  background-color: var(--txt-clr);
  position: absolute;
  left: 0;
  transition: transform var(--transition);
}

#toggle:checked + .toggle-container > .knob {
  transform: translateX(120%);
}

.bar {
  width: var(--bar-size);
  height: calc(var(--bar-size) / 4);
  border-radius: var(--btn-radius);
  background-color: var(--bg-clr);
}