/* ================ Globals ================ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-clr: #1e273e;
  --fg-clr: #151a27;
  --acc-clr: #5ebddb;
  --txt-clr: #f0efee;

  --ff-head: 'Montserrat Alternates', 'sans-serif';
  --ff-text: 'Prompt', 'Montserrat Alternates', 'sans-serif';

  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-md: 1rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.75rem;

  --fw-100: 100;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;

  --gutter: 1rem;
  --btn-radius: 6px;

  --card-size: 320px;
  --card-radius: 8px;
  --delete-icon: 26px;

  --knob-size: 14px;
  --bar-size: 32px;

  --modal-bg: rgba(41, 40, 40, 0.2);
  --modal-blur: 8px;

  --transition: 250ms ease;
}

body {
  line-height: 1.5;
  font-size: var(--fs-md);
  font-family: var(--ff-text);
  color: var(--txt-clr);
  background-color: var(--bg-clr);
  min-height: 100vh;
  letter-spacing: 0.5px;
  display: flex;
  flex-direction: column;
}

/* ================ Typography ================ */
h1,
h2,
h3,
h4 {
  line-height: 1.25;
  font-weight: var(--fw-600);
  font-family: var(--ff-head);
}

p,
span,
input,
img {
  display: inline-block;
}

ul {
  list-style: none;
}

/* ================ Utility Classes ================ */
button {
  border: none;
  appearance: none;
  padding: 0.5em 1em;
  font-size: var(--fs-md);
  font-family: var(--ff-text);
  border-radius: var(--btn-radius);
  background-color: var(--acc-clr);
  cursor: pointer;
  transition: transform var(--transition);
}

button:active {
  transform: scale(0.9);
}

.active {
  display: flex !important;
}

/* ================ Main Header ================ */
.main-header {
  padding: 1.25rem;
  background-color: var(--fg-clr);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.logo {
  margin-left: 8rem;
}

/* Media query to center the logo on small screen devices */
@media screen and (max-width: 800px) {
  .main-header {
    display: flex;
    justify-content: center;
  }

  .logo  {
    margin: 0;
  }
}

/* ================ Main ================ */
.main-container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
  flex-grow: 1;
}

.shelf-header {
  gap: calc(var(--gutter) / 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--gutter);
}

.cards-container {
  gap: var(--gutter);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-size), 1fr));
}

/* ================ Cards ================ */
.card {
  gap: calc(var(--gutter) / 3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--fg-clr);
  padding: 1rem;
  border-radius: var(--card-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* ================ Card Header ================ */
.card-header {
  gap: var(--gutter);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ================ Delete Button ================ */
.remove-book {
  width: var(--delete-icon);
  height: var(--delete-icon);
  cursor: pointer;
  vertical-align: middle;
}

/* ================ Card Content ================ */
.title,
.author,
.pages,
.read-status {
  font-family: var(--ff-text);
}

.title {
  font-size: var(--fs-lg);
}

.author {
  font-size: var(--fs-md);
}

.pages {
  font-size: var(--fs-sm);
}

/* ================ Toggler ================ */
.mark-as-read {
  display: none;
}

.read-status {
  font-size: var(--fs-sm);
  gap: calc(var(--gutter) / 2);
  display: flex;
  align-items: center;
  cursor: pointer;
  align-self: flex-end;
  user-select: none;
}

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.knob {
  width: var(--knob-size);
  height: var(--knob-size);
  border-radius: 50%;
  background-color: var(--txt-clr);
  position: absolute;
  left: 0;
  transition: transform var(--transition);
}

/* When input has a pseudo-class of checked, find & look inside of its next sibling & apply styles to knob element */
.mark-as-read:checked + .toggle-container > .knob {
  transform: translateX(120%);
}

.bar {
  width: var(--bar-size);
  height: calc(var(--bar-size) / 4);
  border-radius: var(--btn-radius);
  background-color: var(--bg-clr);
}

/* ================ Modal ================ */
.modal-container {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  min-height: 100vh;
  background-color: var(--modal-bg);
  backdrop-filter: blur(var(--modal-blur));
}

.book-form {
  padding: 1.25rem;
}

.book-form > h2 {
  margin-bottom: 1.25rem;
  text-align: center;
}

.data-list {
  gap: calc(var(--gutter) * 1.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input[class^="book-"] {
  outline: none;
  appearance: none;
  font-size: var(--fs-md);
  font-family: var(--ff-text);
  padding: calc(var(--gutter) / 2);
  border: 2px solid var(--txt-clr);
  border-radius: var(--card-radius);
  color: var(--txt-clr);
  background-color: transparent;
}