/* ================ Globals ================ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-clr: #FBFBFB;
  --fg-clr: #F0F0F0;
  --acc-one: #cf9fff;
  --acc-two: #5ebddb;
  --txt-clr: #000000;
  --fg-clr-alt: #e6e6e6;
  --win-clr: #cf9fff;
  --tie-clr: #e6e6e6;

  --ff-text: 'Montserrat Alternates', 'Prompt', 'sans-serif';

  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-md: 1rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.75rem;

  --fw-100: 100;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;

  --gutter: 1rem;
  --padding: 1rem;
  --shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  --transition: 225ms ease;

  --btn-radius: 8px;
  --btn-border: 1px solid var(--fg-clr-alt);

  --board-size: 320px;
  --board-border: 1px solid var(--txt-clr);
  --card-radius: 8px;
}

body {
  line-height: 1.5;
  font-size: var(--fs-md);
  font-family: var(--ff-text);
  color: var(--txt-clr);
  background-color: var(--bg-clr);
  min-height: 100vh;
  letter-spacing: 0.5px;
}

/* ================ Utility Classes ================ */
.btn {
  outline: none ;
  appearance: none;
  font-size: var(--fs-md);
  font-family: var(--ff-text);
  border: var(--btn-border);
  border-radius: var(--btn-radius);
  background-color: var(--fg-clr);
  padding: 0.5em 1em;
  cursor: pointer;
  transition: transform var(--transition),
              background-color var(--transition);
}

.btn:hover {
  background-color: var(--fg-clr-alt);
}

.btn:active {
  transform: scale(0.8);
}

.active {
  box-shadow: var(--shadow);
}

.winner {
  background-color: var(--win-clr) !important;
}

.tie {
  background-color: var(--tie-clr) !important;
}

.disable {
  pointer-events: none;
}

/* ================ Intro Modal ================ */
.intro-modal {
  position: fixed;
  width: 100%;
  min-height: inherit;
  background-color: var(--bg-clr);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: var(--padding);
}

.intro-text {
  font-size: var(--fs-xl);
}

/* ================ Game Container ================ */
.game-container {
  min-height: inherit;
  max-width: 1000px;
  margin: 0 auto;
  padding: var(--padding);
  gap: var(--gutter);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.game-board,
.game-options {
  user-select: none;
}

/* ================ Game Options ================ */
.game-options {
  order: -1;
  max-width: 50%;
  gap: var(--gutter);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  margin: 0 auto;
}

.round {
  font-size: var(--fs-lg);
  box-shadow: var(--shadow);
  border-radius: var(--card-radius);
  padding: calc(var(--padding) / 2) var(--padding);
}

/* ================ Game Board ================ */
.game-board {
  width: var(--board-size);
  height: var(--board-size);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 0 auto;
  padding: var(--padding);
  border-radius: var(--card-radius);
  box-shadow: var(--shadow);
}

.game-board > * {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--fs-lg) * 2.25);
  font-weight: var(--fw-600);
  border-right: var(--board-border);
  border-bottom: var(--board-border);
  transition: background-color var(--transition);
}

.game-board > *:hover {
  background-color: var(--fg-clr-alt);
}

.game-board > *.full {
  background-color: initial;
}

.game-board > *:nth-child(3n) {
  border-right: none;
}

.game-board > *:nth-child(n + 7) {
  border-bottom: none;
}

.game-board > *:nth-child(1) {
  border-top-left-radius: var(--card-radius);
}

.game-board > *:nth-child(3) {
  border-top-right-radius: var(--card-radius);
}

.game-board > *:nth-child(7) {
  border-bottom-left-radius: var(--card-radius);
}

.game-board > *:nth-child(9) {
  border-bottom-right-radius: var(--card-radius);
}

/* ================ Player Board ================ */
.player-board {
  margin: 0 auto; 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.player-board > .name {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: var(--fs-lg);
  border-radius: var(--card-radius);
  padding: var(--padding);
  transition: background-color var(--transition),
              box-shadow var(--transition);
}

.player-board > .name > .score {
  font-size: var(--fs-xl);
  order: -1;
}