/* ================ Global Layout ================ */
img {
  vertical-align: middle;
}

body {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
}

/* ================ Icons Layout ================ */
img[class="icon"] {
  width: var(--icons);
  height: var(--icons);
}

/* Any img element which has a class ending with -avatar */
img[class$="-avatar"] {
  border-radius: 50%;
}