/* ================ Global Layout ================ */
img {
  vertical-align: middle;
}

input {
  flex-grow: 1;
  padding: 0.25rem 0.5rem;
  border-radius: var(--border-radius);
}

button {
  padding: 0.5em 1em;
  border-radius: var(--border-radius);
}

body {
  color: var(--txt-clr);
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  /* Set size of the first row */
  grid-template-rows: 140px;
}

/* ================ Icons Layout ================ */
img[class="icon"] {
  width: var(--icons);
  height: var(--icons);
}

/* Any img element which has a class ending with -avatar */
img[class$="-avatar"] {
  border-radius: 50%;
}

/* ================ Nav Aside ================ */
.nav-aside {
  padding: 1rem;
  grid-row: 1 / 3;
}

.nav-header {
  margin-bottom: 2rem;
}

.nav-links > * {
  margin-bottom: 0.75rem;
}

.nav-links > *:nth-child(7) {
  margin-top: 2rem;
}

/* ================ Main Header ================ */
.main-header {
  padding: 0.75rem;
}

.main-header >*:first-child {
  margin-bottom: 0.75rem;
}

/* =========== Search Section =========== */
.search {
  gap: 1rem;
  display: flex;
  justify-content: space-around;
}

.search-box {
  max-width: 500px;
  flex-grow: 1;
  gap: 0.5rem;
  display: flex;
  align-items: center;
}

/* =========== User Section =========== */
.user-wrapper > *:not(:last-child) {
  margin-right: 1rem;
}

/* ======= User Profile Section ======= */
.profile {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.user-intro-wrapper {
  flex-grow: 1;
  max-width: 600px;
  gap: 1rem;
  display: flex;
  align-items: center;
}

.btn-wrapper {
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ================ Main ================ */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: var(--card-gap);
}

/* =========== Cards Section =========== */
.cards-wrapper {
  grid-column: 1 / 3;
}

.cards-container {
  display: grid;
  gap: var(--card-gap);
  margin-top: var(--card-gap);
  grid-template-columns: repeat(auto-fit, minmax(var(--card-width), 1fr));
}

.card {
  padding: 1.25rem;
  max-width: var(--card-width);
  border-radius: var(--card-radius);
}

.card-content {
  margin-bottom: 0.5rem;
}

.card-content > *:first-child {
  margin-bottom: 0.25rem;
}