/* ================ Globals ================ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --bg-clr: #f7fafe;
  --acc-clr: #71adc1;
  --txt-clr: #2e353d;
  --bg-clr-alt: #f3f1f0;
  --acc-clr-alt: #a2cadc;

  --ff-text: 'Montserrat Alternates', sans-serif;

  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-md: 1rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.75rem;

  --fw-100: 100;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;

  --icons: 30px;
}

body {
  line-height: 1.5;
  font-size: var(--fs-md);
  font-family: var(--ff-text);
  background-color: var(--bg-clr);
}

/* ================ Typography ================ */
h1,
h2,
h3,
h4 {
  line-height: 1.25;
}

h1 {
  font-size: var(--fs-xl);
  font-weight: var(--fw-600);
}

h2 {
  font-size: var(--fs-lg);
  font-weight: var(--fw-600);
}

h3,
h4 {
  font-weight: var(--fw-500);
}

a, 
img {
  display: inline-block;
}