/* ================ Globals ================ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --bg-clr: hsl(180, 2%, 90%);
  --acc-clr: #71adc1;
  --txt-clr: #2e353d;
  --bg-clr-alt: #f5f5f5;
  --acc-clr-alt: #a2cadc;

  --ff-text: 'Montserrat Alternates', sans-serif;

  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-md: 1rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.75rem;

  --fw-100: 100;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;

  --icons: 24px;

  --card-radius: 8px;
  --border-radius: 12px;
  --border: 6px solid var(--acc-clr);

  --card-width: 300px;
  --card-gap: 1rem;

  --transition: 200ms ease;
}

body {
  line-height: 1.5;
  font-size: var(--fs-md);
  font-family: var(--ff-text);
  background-color: var(--bg-clr);
}

/* ================ Typography ================ */
h1,
h2,
h3,
h4 {
  line-height: 1.25;
}

h1 {
  font-size: var(--fs-xl);
  font-weight: var(--fw-600);
}

h2 {
  font-size: var(--fs-lg);
  font-weight: var(--fw-600);
}

h3,
h4 {
  font-weight: var(--fw-500);
}

a, 
img {
  display: inline-block;
}

input {
  border: none;
  appearance: none;
  font-family: var(--ff-text);
  background-color: var(--bg-clr);
}

input:focus {
  outline: 2px solid var(--acc-clr);
}

button {
  border: none;
  appearance: none;
  color: var(--txt-clr);
  font-size: var(--fs-sm);
  font-family: var(--ff-text);
  background-color: var(--acc-clr-alt);
  cursor: pointer;
  transition: color var(--transition),
              background-color var(--transition);
}

button:hover {
  color: white;
  background-color: var(--acc-clr);
}

/* ================ Nav Aside ================ */
.nav-aside {
  background-color: var(--acc-clr-alt);
}

/* ================ Main Header ================ */
.main-header {
  background-color: var(--bg-clr-alt);
  box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.1);
}

.user-intro > p {
  font-size: var(--fs-sm);
}

.user-intro > *:last-child {
  font-weight: 600;
}

/* ================ Main ================ */
.card {
  font-size: var(--fs-sm);
  border-left: var(--border);
  background-color: var(--bg-clr-alt);
  cursor: pointer;
}

.card-content > *:first-child {
  font-size: initial;
  font-weight: var(--fw-600);
}

.card-content > p {
  line-height: initial;
  font-size: var(--fs-xs);
}

.card-footer {
  text-align: end;
}