/* ================ Globals ================ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --bg-clr: #ffffff;
  --txt-clr: #ffffff;
  --acc-clr: #51b573;
  --bg-clr-alt: #292e36;
  --error-clr: #ff0000;

  --ff-text: 'Montserrat Alternates', sans-serif;

  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-md: 1rem;
  --fs-lg: 1.25rem;
  --fs-xl: 2rem;

  --ff-100: 100;
  --ff-400: 400;
  --ff-600: 600;

  --logo-size: 80px;
  --border-radius: 6px;
  --border: 1px solid grey;
}

::selection {
  color: var(--txt-clr);
  background-color: var(--acc-clr);
}

body {
  min-height: 100vh;
  font-size: var(--fs-md);
  font-family: var(--ff-text);
  background-color: var(--bg-clr-alt);
  padding: 0 1rem;
  overflow: hidden;
  line-height: 1.15;
}

/* ================ Typography ================ */
svg,
img,
p,
a {
  display: inline-block;
}

a {
  color: var(--acc-clr);
}

a:hover,
a:focus {
  outline: none;
  font-weight: var(--ff-600);
  text-decoration: underline;
}

/* ================ Utility Classes ================ */
.error {
  color: var(--error-clr);
  --acc-clr: var(--error-clr); /* Override accent clr because border-color property doesn't inherit */
}

/* ================ Main ================ */
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  max-width: 1600px;
  min-height: inherit;
  margin: 0 auto;
  border-radius: var(--border-radius);
  background-color: var(--bg-clr);
}

.img-wrapper {
  padding: 0.5rem;
  text-align: center;
  font-size: var(--fs-sm);
}

.join-img {
  width: 400px;
}


/* ================ Join Us ================ */
.join-us {
  gap: 2rem;
  max-width: 50%;
  min-height: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.intro-text {
  max-width: 600px;
}

/* Apply styles to every direct child of intro-text except the last one */
.intro-text > *:not(:last-child) {
  margin-bottom: 0.5rem;
}

.intro-text > hr {
  width: 50%;
  max-width: 400px;
}

.signup-card {
  min-width: 300px;
  padding: 1rem;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.info-list {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin-bottom: 1rem;
}

.info-list > li:nth-child(3),
.info-list > li:nth-child(4) {
  grid-column: 1 / -1;
}

.info-list label {
  display: flex;
  flex-direction: column;
  position: relative;
}

.info-list label > span {
  position: absolute;
  top: -15%;
  font-size: var(--fs-sm);
  background-color: var(--bg-clr);
  pointer-events: none;
  margin: 0 0.5rem;
  padding: 0 0.25em;
  transform: translateY(115%);
  transition: all 200ms ease-in-out;
}

/* If something is focused within label OR if the input field is NOT empty, apply styles to span */
.info-list label:focus-within span,
.info-list input:not(:placeholder-shown) + span {
  font-size: var(--fs-xs);
  transform: translateY(0);
}

.info-list input {
  border: var(--border);
  outline: none;
  appearance: none;
  padding: 0.75rem;
  border-radius: var(--border-radius);
  font-family: var(--ff-text);
  background-color: transparent;
  transition: border 200ms ease-in-out;
}

/* If the input is valid, apply a green border color */
.info-list input:valid {
  border-color: var(--acc-clr);
}

/* Apply a var(--error-clr) color to border & text when the input is invalid & placeholder is NOT visible */
.info-list input:invalid:not(:placeholder-shown),
.info-list input:invalid:not(:placeholder-shown) + span {
  color: var(--error-clr);
  border-color: var(--error-clr);
}

.info {
  color: var(--error-clr);
  font-size: var(--fs-xs);
}

.btn {
  outline: none;
  appearance: none;
  color: var(--txt-clr);
  background-color: var(--acc-clr);
  border: var(--border);
  border-color: var(--acc-clr);
  border-radius: var(--border-radius);
  font-size: var(--fs-md);
  font-family: var(--ff-text);
  padding: 0.5em 1em;
  cursor: pointer;
  transition: color 200ms ease-in-out,
              background-color 200ms ease-in-out;
}

.btn:hover,
.btn:focus {
  color: var(--acc-clr);
  background-color: transparent;
}

.login {
  font-size: var(--fs-sm);
  margin-top: 0.5rem;
}